.b--card-c {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%); 
  left: 50%;
  top: 50%;
  overflow: hidden;
  text-decoration: none;
  color: map-get($color-options, f);
  width: 60%;
  height: 401px;
  margin: 0 0 $measure * 6 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity $time-a ease-in-out;
  @media all and ($viewport-type: $laptop) {
    width: 75%;
  }
  @media all and ($viewport-type: $tabletp) {
    width: 90%;
  }
  &__back-items {
    @include make-layer-absolute();
    transform: scale(1);
    transition: all $time-a ease-in-out;
    z-index: 0;
    &__media {
      min-width: 100%;
      min-height: 100%;
    }
  }
  &__front-items {
    position: relative;
    padding: $measure * 5 $measure * 20;
    z-index: 1;
    @media all and ($viewport-type: $laptop) {
      padding: 0 $measure * 15;
    }
    @media all and ($viewport-type: $tabletl) {
      padding: 0 $measure * 10;
    }
    @media all and ($viewport-type: $tabletl) {
      padding: 0 $measure * 2;
    }
    &__bd {
      margin-bottom: $measure*4;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 7px;
      &__title {
        color: map-get($color-options, f);
        font-size: 2rem;
        text-decoration: underline;
        margin-bottom: $measure*6;
        text-transform: uppercase;
        letter-spacing: 7px;
        display: inline-block;
        text-underline-offset: .3em;
      }
      &__content {
        color: map-get($color-options, f);
        letter-spacing: 7px;
        margin-bottom: $measure*2;
        @media all and ($viewport-type: $tabletp) {
          font-size: 1.2rem;
        }
      }
      &__input {
        position:relative;
        text-decoration: underline;
        text-underline-offset: .1em;
        text-transform: uppercase;
        padding: $measure*2;
        background: #000;
        letter-spacing: 7px;
        color: map-get($color-options, f);
        width: 80%;
        &::placeholder {
          text-align: center;
          text-decoration: underline;
          text-transform: uppercase;
          text-underline-offset: .1em;
        }
        &__icon {
          width: 1em;
          height: 1em;
          position: absolute;
          top: 50%;
          right:20px;
          transform: translate(-80px,-50%);
          cursor: pointer;
          path{
            fill: map-get($color-options, f);
          }
        }
      }
    }
    &__ft {
      width: 100%;
      text-align: center;
      margin-top: $measure*2;
      font-size: .8rem;
      letter-spacing: 3px;
      &__btn {
        color: map-get($color-options ,f);
        font-weight: bold;
        text-underline-offset: .3em;
      }
    }
  }
  &__media-wrapper {
    &__icon {
        position: absolute;
        font-size: 1.5rem;
        top: 32px;
        right: 32px;
        text-align: right;
        color: map-get($color-options, a);
    }
  }
  &--is-visible {
    opacity: 1;
    pointer-events: all;
  }
}