.b--card-b {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%); 
  left: 50%;
  top: 50%;
  overflow: hidden;
  text-decoration: none;
  color: map-get($color-options, f);
  width: 60%;
  height: 401px;
  margin: 0 0 $measure * 6 0;
  opacity: 1;
  pointer-events: all;
  transition: opacity $time-a ease-in-out;
  @media all and ($viewport-type: $laptop) {
    width: 75%;
  }
  @media all and ($viewport-type: $tabletp) {
    width: 90%;
  }
  &__back-items {
    @include make-layer-absolute();
    transform: scale(1);
    transition: all $time-a ease-in-out;
    z-index: 0;
    &__media {
      min-width: 100%;
      min-height: 100%;
    }
  }
  &__front-items {
    position: relative;
    padding: $measure * 8 $measure * 25;
    z-index: 1;
    @media all and ($viewport-type: $laptop) {
      padding: $measure * 8 $measure * 20;
    }
    @media all and ($viewport-type: $tabletl) {
      padding: $measure * 8 $measure * 15;
    }
    &__bd {
      margin-bottom: $measure * 4;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 7px;
      &__title {
        color: map-get($color-options, f);
        margin-bottom: $measure;
      }
      &__content {
        color: map-get($color-options, f);
        font-size: 1.5rem;
        margin-bottom: $measure*2;
        @media all and ($viewport-type: $tabletp) {
          font-size: 1.2rem;
        }
      }
      &__btn {
        margin-top: $measure*2;
        padding: $measure*2;
        width: 261px;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 20px;
        color: map-get($color-options, f);
      }
    }
    &__ft {
      &__text {
        @include make-font-e(300);
        color: map-get($color-options, f);
        &__link {
          color: map-get($color-options, e);
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  &--is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}