.b--cookies-a {
    // display: none;
    background-image: url('./../../img/b--cookies-a--bg.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    position: fixed;
    top: 0;
    width: 80%;
    border-radius: $border-radius-a;
    box-shadow: $shadow-a;
    padding: $measure*2 $measure*5;
    left: 0; right:0;
    z-index: 100;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 69%, 95% 100%, 5% 100%, 0 69%, 0% 20%);

    // @media all and ($viewport-type: $tabletp){
    //     width: 100%;
    //     padding: $measure*4;
    //     bottom: 0px;
    // }
    &__bd {
        @include make-font-b(300);
        font-size: .6em;
        color: map-get($color-options, f);
        margin-bottom: $measure*2;
        @media all and ($viewport-type: $tabletp){
            margin-bottom: $measure*2;
        }
    }
    &__btn {
        @include make-font-b(300);
        font-size: .7em;
        color: map-get($color-options, f);
        padding: $measure $measure*8;
        text-decoration: none;
        border: 2px solid rgba(map-get($color-options, f), .3);
        transition: all $time-a ease-in-out;
        &:hover {
            border: 2px solid rgba(map-get($color-options, f), .8);
        }
    }
    &__media-wrapper {
        &__icon {
            position: absolute;
            font-size: 1.5rem;
            top: 16px;
            right: 16px;
            text-align: right;
            color: map-get($color-options, a);
        }
    }
}